absl-py==2.3.1
accelerate==1.4.0
aiohappyeyeballs==2.4.6
aiohttp==3.11.13
aiohttp-cors==0.8.1
aiosignal==1.3.2
airportsdata==20250224
annotated-types==0.7.0
antlr4-python3-runtime==4.9.3
anyio==4.8.0
astor==0.8.1
astroid==2.13.5
async-timeout==5.0.1
attrs==25.1.0
backoff==2.2.1
blake3==1.0.4
boto3==1.37.19
botocore==1.37.19
cachetools==5.3.1
certifi==2019.11.28
cfgv==3.3.1
chardet==3.0.4
charset-normalizer==3.4.1
choreographer==1.0.5
clang-format==13.0.0
click==8.1.8
cloudpickle==3.1.1
cmake==3.31.6
codetiming==1.4.0
colorful==0.5.8
compressed-tensors==0.9.3
contourpy==1.1.0
cpplint==1.6.0
cupy-cuda12x==13.4.1
cycler==0.11.0
datasets==3.3.2
dbus-python==1.2.16
decorator==5.1.1
Deprecated==1.3.1
depyf==0.18.0
dill==0.3.8
diskcache==5.6.3
distlib==0.3.6
distro==1.9.0
distro-info===0.23ubuntu1
dnspython==2.7.0
docker-pycreds==0.4.0
einops==0.8.1
email_validator==2.2.0
exceptiongroup==1.1.1
fastapi==0.115.11
fastapi-cli==0.0.7
fastrlock==0.8.3
filelock==3.18.0
flash-attn==2.6.3
flashinfer-python==0.2.2
fonttools==4.40.0
frozenlist==1.5.0
fsspec==2024.12.0
gguf==0.17.1
gitdb==4.0.12
GitPython==3.1.44
google-api-core==2.28.1
google-auth==2.20.0
googleapis-common-protos==1.72.0
grpcio==1.73.1
h11==0.14.0
hf-xet==1.2.0
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
huggingface-hub==0.36.0
hydra-core==1.3.2
identify==2.5.24
idna==2.8
importlib_metadata==8.0.0
iniconfig==2.0.0
interegular==0.3.3
ipykernel==4.6.0
ipython==5.3.0
isort==5.12.0
jieba==0.42.1
Jinja2==3.1.5
jiter==0.8.2
jmespath==1.0.1
joblib==1.2.0
json_repair==0.52.5
jsonschema==4.23.0
jsonschema-specifications==2024.10.1
jupyter_client==8.2.0
jupyter_core==5.3.0
kaleido==0.2.1
kiwisolver==1.4.4
kubernetes==26.1.0
lark==1.2.2
lazy-object-proxy==1.9.0
llguidance==0.7.30
llvmlite==0.44.0
lm-format-enforcer==0.10.11
logistro==1.0.11
Markdown==3.8.2
markdown-it-py==3.0.0
MarkupSafe==3.0.2
matplotlib==3.7.1
mccabe==0.7.0
mdurl==0.1.2
mistral_common==1.5.4
mpi4py==3.1.4
mpmath==1.3.0
msgpack==1.1.0
msgspec==0.19.0
multidict==6.1.0
multiprocess==0.70.16
narwhals==1.30.0
nest-asyncio==1.6.0
networkx==3.4.2
ninja==1.13.0
nltk==3.9.2
nodeenv==1.8.0
numba==0.61.2
numpy==1.26.4
nvidia-cublas-cu11==11.11.3.6
nvidia-cublas-cu12==12.4.5.8
nvidia-cuda-cupti-cu11==11.8.87
nvidia-cuda-cupti-cu12==12.4.127
nvidia-cuda-nvrtc-cu11==11.8.89
nvidia-cuda-nvrtc-cu12==12.4.127
nvidia-cuda-runtime-cu11==11.8.89
nvidia-cuda-runtime-cu12==12.4.127
nvidia-cudnn-cu11==9.1.0.70
nvidia-cudnn-cu12==9.1.0.70
nvidia-cufft-cu11==10.9.0.58
nvidia-cufft-cu12==11.2.1.3
nvidia-curand-cu11==10.3.0.86
nvidia-curand-cu12==10.3.5.147
nvidia-cusolver-cu11==11.4.1.48
nvidia-cusolver-cu12==11.6.1.9
nvidia-cusparse-cu11==11.7.5.86
nvidia-cusparse-cu12==12.3.1.170
nvidia-cusparselt-cu12==0.6.2
nvidia-ml-py==12.570.86
nvidia-nccl-cu12==2.21.5
nvidia-nvjitlink-cu12==12.4.127
nvidia-nvtx-cu11==11.8.86
nvidia-nvtx-cu12==12.4.127
oauthlib==3.2.2
omegaconf==2.3.0
openai==1.63.0
opencensus==0.11.4
opencensus-context==0.1.3
opencv-python==4.7.0.72
opencv-python-headless==4.11.0.86
opentelemetry-api==1.26.0
opentelemetry-exporter-otlp==1.26.0
opentelemetry-exporter-otlp-proto-common==1.26.0
opentelemetry-exporter-otlp-proto-grpc==1.26.0
opentelemetry-exporter-otlp-proto-http==1.26.0
opentelemetry-exporter-prometheus==1.12.0rc1
opentelemetry-proto==1.26.0
opentelemetry-sdk==1.26.0
opentelemetry-semantic-conventions==0.47b0
opentelemetry-semantic-conventions-ai==0.4.13
opt-einsum==3.3.0
orjson==3.10.15
outlines==0.1.11
outlines_core==0.1.26
packaging==25.0
paddle-bfloat==0.1.7
paddleslim==2.4.1
pandas==2.2.3
partial-json-parser==0.2.1.1.post5
peewee==3.17.9
peft==0.14.0
pexpect==4.8.0
pickleshare==0.7.5
pillow==11.1.0
pip==25.3
platformdirs==3.5.1
plotly==5.24.1
pluggy==1.0.0
pre-commit==2.17.0
prometheus_client==0.21.1
prometheus-fastapi-instrumentator==7.0.2
prompt-toolkit==1.0.18
propcache==0.3.0
proto-plus==1.26.1
protobuf==4.23.1
psutil==7.0.0
ptyprocess==0.7.0
py-cpuinfo==9.0.0
py-spy==0.4.1
pyairports==2.1.1
pyarrow==19.0.1
pyasn1==0.5.0
pyasn1-modules==0.3.0
pybind11==2.13.6
pycountry==24.6.1
pydantic==2.10.6
pydantic_core==2.27.2
Pygments==2.15.1
PyGObject==3.36.0
pylatexenc==2.10
pylint==2.15.0
pynvml==12.0.0
pyparsing==3.1.0
pytest==7.3.1
python-apt==2.0.1+ubuntu0.20.4.1
python-dateutil==2.8.2
python-dotenv==1.0.1
python-json-logger==3.3.0
python-multipart==0.0.20
pytz==2025.1
pyvers==0.1.0
PyYAML==6.0
pyzmq==25.0.2
ray==2.45.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-oauthlib==1.3.1
requests-unixsocket==0.2.0
rich==13.9.4
rich-toolkit==0.13.2
rouge==1.0.1
rouge-chinese==1.0.3
rouge_score==0.1.2
rpds-py==0.23.1
rsa==4.9
s3transfer==0.11.4
safetensors==0.5.2
scikit-learn==1.2.2
scipy==1.10.1
sentencepiece==0.2.0
sentry-sdk==2.22.0
setproctitle==1.3.5
setuptools==50.3.2
shellingham==1.5.4
simplegeneric==0.8.1
simplejson==3.20.1
six==1.17.0
smart_open==7.4.4
smmap==5.0.2
sniffio==1.3.1
ssh-import-id==5.10
starlette==0.46.0
swanboard==0.1.8b1
swankit==0.1.6
swanlab==0.5.3
swig==4.1.1
sympy==1.13.1
tenacity==9.0.0
tensorboard==2.20.0
tensorboard-data-server==0.7.2
tensorboardX==2.6.4
tensordict==0.9.1
thop==0.1.1.post2209072238
threadpoolctl==3.1.0
tiktoken==0.9.0
tokenizers==0.22.1
toml==0.10.2
tomli==2.0.1
tomlkit==0.11.8
torch==2.6.0
torch_cluster==1.6.3+pt24cu124
torch-geometric==2.6.1
torch_scatter==2.1.2+pt24cu124
torch_sparse==0.6.18+pt24cu124
torch_spline_conv==1.2.2+pt24cu124
torchaudio==2.6.0
torchdata==0.11.0
torchvision==0.21.0
tornado==6.3.2
tqdm==4.67.1
traitlets==5.9.0
transformers==4.57.1
transformers-stream-generator==0.0.5
triton==3.2.0
typer==0.15.2
typing_extensions==4.12.2
tzdata==2025.1
ujson==5.10.0
unattended-upgrades==0.1
urllib3==1.26.20
uvicorn==0.34.0
uvloop==0.21.0
verl==0.5.0
virtualenv==20.23.0
vllm==0.8.5.post1+cu121
wandb==0.19.8
watchfiles==1.0.4
wcwidth==0.2.6
websocket-client==1.6.0
websockets==15.0
Werkzeug==3.1.3
wheel==0.40.0
wrapt==1.15.0
xformers==0.0.29.post2
xgrammar==0.1.18
xxhash==3.5.0
yarl==1.18.3
zipp==3.21.0
